@model Affinity.Models.Interests

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Interests</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterestCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterestCategory.InterestCategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterestSubCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterestSubCategory.InterestSubCategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profile.ProfileName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InterestId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
