@model Affinity.Models.FriendMessage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FriendMessage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendingUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendingUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivingUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivingUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessageContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessageContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessageDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessageDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserRelationship)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserRelationship.UserRelationshipId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FriendMessageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
