@model Affinity.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1><i class="fa fa-user text-primary pr-2" aria-hidden="true"></i> @Html.DisplayFor(model => model.EventName) (<a asp-action="Edit" asp-route-id="@Model.EventId">Edit</a>)</h1>
<div class="row">
    <div class="col-sm-12" style="text-align: center;>
        <br />
        <div class="shadow p-3 mb-5 bg-body rounded">
            <h3> Group Name</h3>
            @Html.DisplayFor(model => model.Group.GroupName)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" style="text-align: center;>
        <br />
        <div class="shadow p-3 mb-5 bg-body rounded">
            <h3> Event Description</h3>
            @Html.DisplayFor(model => model.EventDescription)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" style="text-align: center;>
        <br />
        <div class="shadow p-3 mb-5 bg-body rounded">
            <h3> Event Date & Time</h3>
            @Html.DisplayFor(model => model.EventDateTime)
        </div>
    </div>
</div>
<hr />

<div>
    <a asp-action="Index">Back to List</a>
</div>
