@model IEnumerable<Affinity.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h1><i class="fa fa-calendar-day text-primary pr-2" aria-hidden="true"></i> Events </h1>

<hr />
<br />
@foreach (var item in Model)
{
    <div class="card affinity-shadow affinity-border-blue">
        <div class="card-header">
            <h3 style="margin-bottom: 0px !important;">
                <a asp-controller="Event" asp-action="Details" asp-route-id="@item.EventId">
                    @Html.DisplayFor(modelItem => item.EventName)
                </a>        
            </h3>
        </div>
        <div class="card-body">
            Group:
            <p class="card-text">@Html.DisplayFor(modelItem => item.Group.GroupName)</p>
            Description:
            <p class="card-text">@Html.DisplayFor(modelItem => item.EventDescription)</p>
            Date & Time:
            <p class="card-text">@Html.DisplayFor(modelItem => item.EventDateTime)</p>
        </div>
   
    </div>
    <br />
}
