@model Affinity.ViewModels.FriendsViewModel
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    <h1><i class="fa fa-users text-primary pr-2" aria-hidden="true"></i> Friends</h1>
    <hr />
</div>

<div class="row centered-form">
    <div class="container col-md-10 col-md-offset-1">
        <div class="container">


            <div class="row">
                <div class="col-md">
                    @if (TempData["FriendsMessage"] is string)
                    {
                        <div class="alert alert-light" role="alert">
                            <span class="text-dark"><i class="fa fa-user-circle mr-2" aria-hidden="true"></i>@TempData["FriendsMessage"]</span>
                        </div>
                    }
                    @if (TempData["FriendInvite"] is string)
                    {
                        <div class="alert alert-success" role="alert">
                            <i class="fa fa-check-square-o mr-2" aria-hidden="true"></i>@TempData["FriendInvite"]
                        </div>
                    }
                </div>
            </div>

            @if (Model.PendingRelationships.Any())
            {
                <h4 class="font-weight-light mb-3">Your Pending Requests</h4>

                <div class="container affinity-border-secondary">
                    @foreach (var item in Model.PendingRelationships)
                    {
                    <div class="row">

                        @if (User.Identity.Name == item.RelatingUser.Email)
                        {
                            <div class="col-sm-4">
                                <span class=" font-weight-bold">
                                    <i class="fa fa-user-o pl-2 pr-2" aria-hidden="true"></i>@Html.DisplayFor(modelItem => item.RelatedProfile.ProfileName)
                                </span>
                            </div>
                            <form class="col-sm-4">
                                <button type="button" class="btn btn-warning w-100" disabled>
                                    <i class="fa fa-user-plus pr-2" aria-hidden="true"></i>Pending...
                                </button>
                            </form>
                            <div class="col-sm-4">
                                <a class="btn btn-danger w-100" style="color: white;" asp-action="Remove" asp-route-id="@item.RelatedUser.Id" title="Remove">
                                    <i class="fa fa-user-times pr-2" aria-hidden="true"></i> Remove
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-4">
                                <span class=" font-weight-bold">
                                    <i class="fa fa-user-o pl-2 pr-2" aria-hidden="true"></i>@Html.DisplayFor(modelItem => item.RelatingProfile.ProfileName)
                                </span>
                            </div>
                            <form class="col-sm-4" asp-action="Add">
                                <input type="hidden" name="id" value="@item.RelatingProfileId" />
                                <button type="submit" class="btn btn-primary btn-success w-100">
                                    <i class="fa fa-user-plus pr-2" aria-hidden="true"></i>Accept
                                </button>
                            </form>
                            <div class="col-sm-4">
                                <a class="btn btn-danger w-100" style="color: white;" asp-action="Remove" asp-route-id="@item.RelatingUser.Id" title="Remove">
                                    <i class="fa fa-user-times pr-2" aria-hidden="true"></i> Remove
                                </a>
                            </div>
                        }

                    </div>
                        <br />
                    }
                </div>
                <hr />
            }



            @if (Model.FriendRelationships.Any())
            {
                <h4 class="font-weight-light mb-3">Your Connections</h4>

                    @foreach (var item in Model.FriendRelationships)
                    {
                        <div class="container rounded affinity-bg-light affinity-shadow affinity-border-secondary mt-3 p-2">
                            @if (User.Identity.Name == item.RelatingUser.Email)
                            {
                                <div class="row">
                                    <div class="col-sm-4">
                                        <span class="text-dark font-weight-bold">
                                            <i class="fa fa-user text-secondary pl-2 pr-2" aria-hidden="true"></i>@Html.DisplayFor(modelItem => item.RelatedProfile.ProfileName)
                                        </span>
                                    </div>
                                    <div class="col-sm-4">                                
                                    </div>
                                    <div class="col-sm-4">
                                        <a class="btn btn-danger w-100" style="color: white;" asp-action="Remove" asp-route-id="@item.RelatedUser.Id" title="Unfriend">
                                            <i class="fa fa-user-times pr-2" aria-hidden="true"></i> Unfriend
                                        </a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-sm-4">
                                        <span class="text-dark font-weight-bold">
                                            <i class="fa fa-user text-secondary pl-2 pr-2" aria-hidden="true"></i>@Html.DisplayFor(modelItem => item.RelatingProfile.ProfileName)
                                        </span>
                                    </div>
                                    <div class="col-sm-4">
                                    </div>
                                    <div class="col-sm-4">
                                        <a class="btn btn-danger w-100" style="color: white;" asp-action="Remove" asp-route-id="@item.RelatingUser.Id" title="Unfriend">
                                            <i class="fa fa-user-times pr-2" aria-hidden="true"></i> Unfriend
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    }
            }
            else if (!Model.PendingRelationships.Any())
            {
                <h4 class="font-weight-light text-uppercase text-center mt-3">You haven't added anybody yet! View your matches to find friends to add.</h4>
                <a class="btn btn-outline-primary btn-lg" role="button" asp-area="" asp-controller="Matches" asp-action="Index"><i class="fa fa-plus mr-2" aria-hidden="true"></i> View Matches</a>
            }
        </div>
    </div>
</div>