@model Affinity.Models.Image

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Image</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profile.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageURL)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ImageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
