@model IEnumerable<Affinity.Models.Matches>

@{
    ViewData["Title"] = "Index";
}

<h1><i class="fa fa-handshake text-primary pr-2" aria-hidden="true"></i> Matches</h1>
@foreach (var item in Model)
{
    <div class="card affinity-shadow affinity-border-blue">
        <div class="card-header">
            <h3 style="margin-bottom: 0px !important;">
                <a asp-controller="Profile" asp-action="Details" asp-route-id="@item.MatchedProfileId">
                    @Html.DisplayFor(modelItem => item.MatchedProfile.ProfileName)
                </a>
                <a asp-controller="Friends" asp-action="Add" asp-route-id="@item.MatchedProfileId">
                    <span class="btn btn-outline-primary friendButton" style="float: right;">
                        <i class="fa fa-plus mr-2" aria-hidden="true"></i> Add Friend
                    </span>
                </a>
            </h3>
        </div>
        <div class="card-body">
            <div class="picContainer">
                <img class="profilePic" src="~/img/empty.png" />
            </div>
            <h5 class="card-title">Headline</h5>
            <p class="card-text">@Html.DisplayFor(modelItem => item.MatchedProfile.Description)</p>
        </div>
        <div class="card-footer">
            Interests in Common: @Html.DisplayFor(modelItem => item.SharedInterests.Count)
        </div>
    </div>
    <br />
}
