@model IEnumerable<Affinity.Models.Group>

@{
    ViewData["Title"] = "Index";
}

<h1><i class="fa fa-users text-primary pr-2" aria-hidden="true"></i> Groups</h1>
@foreach (var item in Model)
{
    <div class="card affinity-shadow affinity-border-blue">
        <div class="card-header">
            <h3 style="margin-bottom: 0px !important;">
                <a asp-controller="Groups" asp-action="Details" asp-route-id="@item.GroupId">
                    @Html.DisplayFor(modelItem => item.GroupName)
                </a>
                <a asp-controller="Groups" asp-action="Join" asp-route-id="@item.ProfileId">
                    <span class="btn btn-outline-primary friendButton" style="float: right;">
                        <i class="fa fa-plus mr-2" aria-hidden="true"></i> Join Group
                    </span>
                </a>
            </h3>
        </div>
        <div class="card-body">
            @if (item.ImageUrl == null)
            {
                <div class="picContainer">
                    <img class="profilePic" src="~/img/empty.png" />
                </div>
            }
            else
            {
                <div class="picContainer">
                    <img class="profilePic" src="@item.ImageUrl" />
                </div>
            }

            <p class="card-text">@Html.DisplayFor(modelItem => item.GroupDescription)</p>
        </div>
        <div class="card-footer">
             Number of Members: @Html.DisplayFor(modelItem => item.MemberProfiles.Count)
        </div>
    </div>
    <br />
}
