@model IEnumerable<Affinity.Models.Group>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1><i class="fa fa-users text-primary pr-2" aria-hidden="true"></i> Groups</h1>
    <hr />
    <br />
    <div class="row">
        <div class="col-sm-12 text-center">
            <h4 class="font-weight-light">Create or join a group! You can only join one at a time, so choose wisely!</h4>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12 text-center">
            <a class="btn btn-outline-primary btn-lg" role="button" asp-action="Create"><i class="fa fa-plus mr-2" aria-hidden="true"></i> Create Group</a>
        </div>
    </div>
    <br />
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        @if (TempData["Joined"] is string)
        {
            <div class="alert alert-light" role="alert">
                <span class="text-dark"><i class="fa fa-user-circle mr-2" aria-hidden="true"></i>@TempData["Joined"]</span>
            </div>
        }
        @if (TempData["NoProfile"] is string)
        {
            <div class="alert alert-warning" role="alert">
                <span class="text-dark"><i class="fa fa-exclamation mr-2" aria-hidden="true"></i>@TempData["NoProfile"]</span>
            </div>
        }
    </div>
</div>
@foreach (var item in Model)
{
    <div class="card affinity-shadow affinity-border-blue">
        <div class="card-header">
            <h3 style="margin-bottom: 0px !important; display: inline-block;">
                <a asp-controller="Groups" asp-action="Details" asp-route-id="@item.GroupId">
                    @Html.DisplayFor(modelItem => item.GroupName)
                </a>
            </h3>
            <form asp-route-id="@item.GroupId" asp-controller="Groups" asp-action="Add" style="display: inline-block; float: right;">
                <button type="submit" class="btn btn-outline-primary friendButton" style="float: right;">Join</button>
            </form>

        </div>
        <div class="card-body">
            @if (item.ImageUrl == null)
            {
                <div class="picContainer">
                    <img class="profilePic" src="~/img/empty.png" />
                </div>
            }
            else
            {
                <div class="picContainer">
                    <img class="profilePic" src="@item.ImageUrl" />
                </div>
            }

            <p class="card-text">@Html.DisplayFor(modelItem => item.GroupDescription)</p>
        </div>
        <div class="card-footer">
            Number of Members: @Html.DisplayFor(modelItem => item.MemberProfiles.Count)
        </div>
    </div>
    <br />
}
