@model Affinity.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

<h1>My Profile (<a asp-action="Edit" asp-route-id="@Model.ProfileId">Edit</a>)</h1>

<div>
    <hr />
    @if (Model.Images.Any())
    {
        // Images Carousel
        <div class="mt-auto mb-auto">
            <div id="carouselExampleIndicators" class="carousel slide w-100" data-ride="carousel" data-interval="false">
                <div class="carousel-inner no-gutters">
                    @for (int i = 0; i < Model.Images.Count; i += 4)
                    {
                        <div class="carousel-item @(i == 0 ? "active" : "")">
                            <div class="row">
                                @for (int j = i; j < i + 4 && j < Model.Images.Count; j++)
                                {
                                    <div class="col-sm-3 p-1">
                                        <img class="img-fluid" src="@Model.Images[j].ImageURL">
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
                @if (Model.Images.Count >= 4)
                {
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                }
            </div>
        </div>
    }
</div>
<div class="card" style="margin-top: 10px;">
    <div style="font-weight: bold;">
        <div class="card-header">
            <h2>@Html.DisplayFor(model => model.ProfileName), (Age)</h2>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12">
        <h3>Basics</h3>
    </div>
</div>
<div class="row profileBasics">
    <div class="col-sm-4">
        <h4><i class="fa fa-briefcase text-secondary pr-2" aria-hidden="true"></i>  @Html.DisplayFor(model => model.Occupation)</h4>
    </div>
    <div class="col-sm-4">
        <h4><i class="fa fa-graduation-cap text-secondary pr-2" aria-hidden="true"></i>  Education</h4>
    </div>
    <div class="col-sm-4">
        <h4><i class="fa fa-search-location text-secondary pr-2" aria-hidden="true"></i>  @Html.DisplayFor(model => model.Location)</h4>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <h3>Lifestyle</h3>
    </div>
</div>
<div class="row profileLifestyle">
    <div class="col-sm-4">
        <h4><i class="fa fa-smoking text-secondary pr-2" aria-hidden="true"></i>  No</h4>
    </div>
    <div class="col-sm-4">
        <h4><i class="fa fa-glass-cheers text-secondary pr-2" aria-hidden="true"></i>  Socially</h4>
    </div>
    <div class="col-sm-4">
        <h4><i class="fa fa-cannabis text-secondary pr-2" aria-hidden="true"></i>  Sometimes</h4>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <h3>Description</h3>
        <br />
        <div class="shadow p-3 mb-5 bg-body rounded">@Html.DisplayFor(model => model.Description)</div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <h3>Interests</h3>
        <h3 class="profileInterests">
            @if (Model.Interests.Any())
            {
                @foreach (var i in Model.Interests)
                {
                    string interest = i.InterestCategory.InterestCategoryName + ": " + i.InterestSubCategory.InterestSubCategoryName;
                    <span class="badge bg-secondary">@interest</span>
                }
            }
        </h3>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
