@model IEnumerable<Affinity.Models.Profile>

@{
    ViewData["Title"] = "Index";
}

<h4>Index (user will be sent past this page, straight to profile Details)</h4>
<p>Profile will be auto created during account creation</p>
@if (TempData["AlreadyExists"] is string)
{
    <div class="alert alert-secondary" role="alert">
        <i class="fa fa-times-circle mr-2" aria-hidden="true"></i>@TempData["AlreadyExists"]
    </div>}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProfileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instagram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discord)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProfileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Occupation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instagram)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discord)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProfileId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProfileId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProfileId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
